<% params[:number] %>

<h1>Square Root</h1>


 <h1>Enter another number in the browser</h1>


<!--
  <form>
    <div>
      <label for="first" >Your number is</label>
      <input name="number" type="integer" id=":number">
    </div>  -->

<h1>The square root of <%= @the_number %> is <%= @answer %>.</h1>
